<div class="ud-body">
  <div class="msg-box">
    <ul>
      <li *ngFor="let mObj of msgInboxArray" [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'">{{mObj.user}}:
        <span class="msg-style">{{mObj.msgText}}</span></li>
    </ul>
  </div>
  <input type="text" placeholder="Your name" class="name-box" [(ngModel)]="msgDto.user" />
  <div class="ud-flex-row">
    <input type="text" placeholder="Type message here" class="msg-input" [(ngModel)]="msgDto.msgText" />
    <button class="send-btn" (click)="send()">Send</button>
  </div>
</div>